@model IEnumerable<Data.Models.LogData>


<table class="table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th class="numeric">ID</th>
            <th class="numeric">Column name</th>
            <th class="numeric">Old value</th>
            <th class="numeric">New value</th>
            <th class="numeric">Added date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="OpenDetails(@item.ID)">
                <td>@item.ID</td>
                <td>@item.ColumnName</td>
                <td>@item.OldData</td>
                <td>@item.NewData</td>
                <td>
                    @if (item.AddedDate != null)
                    {
                        @item.AddedDate.Value.ToString("MM/dd/yyyy")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
