@model Data.Helpers.PagedData<Data.Models.MethyationTemplate>

    <div class="row">
        <div class="col-md-3">
            <div class="row left-row-pad">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <h4><b>All Gene Template </b></h4>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <div id="lookupList" class="scroll_text">

                        <h4><a href="/admin/template/metabolismtemplate" class="list-group-item ">Metabolism Template</a></h4>

                        <h4><a href="/admin/template/index" class="list-group-item ">Epilepsy Template</a></h4>

                        <h4><a href="/admin/template/prostatetemplate" class="list-group-item">Prostate Cancer Template</a></h4>

                        <h4><a href="/admin/template/methyationtemplate" class="list-group-item active">Methyation & Autism Template</a></h4>

                        <h4><a href="/admin/template/fatconsumptiontemplate" class="list-group-item ">Fat Consumption Template</a></h4>

                        <h4><a href="/admin/template/fitnesstemplate" class="list-group-item ">Fitness Template</a></h4>

                        <h4><a href="/admin/template/diettemplate" class="list-group-item ">Diet Template</a></h4>

                        <h4><a href="/admin/template/vitamintemplate" class="list-group-item ">Vitamins Template</a></h4>

                        <h4><a href="/admin/template/mineraltemplate" class="list-group-item ">Mineral Template</a></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <table id="userTbl" class="table table-hover table-bordered table-striped">
                <thead>
                    <tr class="">
                        <th>Gene</th>
                        <th>Have Mutation</th>
                        <th class="numeric">Result</th>
                        <th>Result Summary</th>

                        <th class="numeric">Recommendations</th>
                        <th class="numeric">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>
                            <td>
                                @if (item != null && item.Gene != null)
                                {
                                    @item.Gene.Name

                                }
                            </td>

                            <td>
                                @if (item.HaveMutation == true)
                                {
                                    <text>Yes</text>
                                }
                                else
                                {
                                    <text>No</text>
                                }

                            </td>
                            <td>
                                @if (item.Result == 1)
                                {<text>High</text>}
                            else if (item.Result == 2)
                            { <text>Medium</text>}
                        else if (item.Result == 3)
                        {
                            <text>Low</text>}
                        </td>
                        <td>
                            @item.ResultSummary
                        </td>


                        <td>
                            @item.Recommendations
                        </td>


                        <td>
                            <a href="#"><i class="fa fa-pencil fa-md base-dark" onclick="editMethyation('@item.ID')" aria-hidden="true"></i></a>

                            <a href="javascript:void(0);" class="fa fa-trash mrgn-l-xs" onclick="Detele(@item.ID)" data-toggle="tooltip" , data-placement="top" title="Trash"></a>


                        </td>
                    </tr>
                }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="11">
                            @for (int i = 1; i <= Model.NumberOfPages; i++)
                            {
                                <a class="page-number" onclick="getepilepsysearch(@i)" href="javascript:void();">@i</a>
                            }
                        </td>
                    </tr>
                </tfoot>
            </table>
            </div>
</div>