

@model GeneticSystem.Areas.Admin.Models.AddFitnessViewModel
@using Data.Helpers
@{
    ViewData["Title"] = " Update Fitness Template";
    Layout = "~/Views/Shared/_Admin.cshtml";
}


}
<style>
    .border-left {
        border-left: 1px solid black;
    }

    .mg-t {
        margin-top: 10PX;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.js"></script>*@

<form action="/admin/sms/addadmingroups" method="post">
    <div class="prtm-content">
        <div class="prtm-page-bar">
            <ul class="breadcrumb">
                <li class="breadcrumb-item text-capitalize"><h2>@ViewData["Title"]</h2></li>
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">Ui elements</a></li>
                <li class="breadcrumb-item"><a href="#" class="active"> Fitness Template</a></li>
            </ul>
        </div>
        
        <div class="form-style">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="prtm-block pos-relative">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="row left-row-pad">
                                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                        <h4><b>All Gene Template </b></h4>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                        <div id="lookupList" class="scroll_text">

                                            <h4><a href="/admin/template/metabolismtemplate" class="list-group-item ">Metabolism Template</a></h4>

                                            <h4><a href="/admin//template/index" class="list-group-item ">Epilepsy Template</a></h4>

                                            <h4><a href="/admin/template/prostatetemplate" class="list-group-item ">Prostate Cancer Template</a></h4>

                                            <h4><a href="/admin/template/methyationtemplate" class="list-group-item ">Methyation & Autism Template</a></h4>

                                            <h4><a href="/admin/template/fatconsumptiontemplate" class="list-group-item ">Fat Consumption Template</a></h4>

                                            <h4><a href="/admin/template/fitnesstemplate" class="list-group-item active">Fitness Template</a></h4>

                                            <h4><a href="/admin/template/diettemplate" class="list-group-item ">Diet Template</a></h4>

                                            <h4><a href="/admin/template/vitamintemplate" class="list-group-item ">Vitamins Template</a></h4>

                                            <h4><a href="/admin/template/vitamintemplate" class="list-group-item">Mineral Template</a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <!-- Modal content-->


                                <div class="row">
                                    <div class="col-md-4 col-lg-4">
                                        <input type="button" name="submit" onclick="UpdateFitnessTemplate();" value="Update" class="btn btn-xs btn-warning" />
                                        @*<input type="button" name="submit" value="Update" class="btn btn-xs btn-warning" />*@
                                        <a href="/admin/template/fitnesstemplate" class="btn btn-xs btn-info">Back</a>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Consumption Type</label>
                                                @Html.HiddenFor(model => model.ID)
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.ConsumptionTypeID, new SelectList(ViewBag.ConsumptionType, "ID", "Name"), "Select Consumption Type", new { @class = "form-control dropdown" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label>Effected Gene</label>
                                                <div class="form-group">
                                                    @*@Html.DropDownList("something", new SelectList(ViewBag.ClientList, "ID", "EnFirstName", 1), htmlAttributes: new { @class = "selectpicker tryMultiselect", multiple = "multiple" })*@
                                                    @Html.DropDownList("something", new SelectList(ViewBag.Gene, "ID", "Name"), htmlAttributes: new { @class = "selectpicker tryMultiselect", multiple = "multiple", @hidden = "true" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label> Good Effect</label>
                                                @Html.HiddenFor(model => model.ID)
                                                <div class="form-group">
                                                    @Html.TextAreaFor(x => x.EffectedGood, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label> Bad Effect </label>
                                                <div class="form-group">
                                                    @Html.TextAreaFor(x => x.EffectedBad, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>



<script>
     function UpdateFitnessTemplate() {
        var formdata = new FormData($('form').get(0));
        i = 0;
        $("#something option:selected").each(function () {
            debugger
           // alert(1);
            var $this = $(this);

            formdata.append("EffectedGeneFitness[" + i + "].GeneID", $this[0].value);
            i++;
        });
        for (var pair of formdata.entries()) {
            console.log(pair[0] + ', ' + pair[1]);
        }
        debugger
        $.ajax({
            type: 'POST',
            url: "/admin/template/updatefitnesstemplates",
            data: formdata,
            dataType: "json",
            processData: false,
            contentType: false,
            success: function (response) {
                console.log(response);
                toastr.info('Record saved');
            },
            error: function (xhr, status) {
                toastr.error('Something went wrong');
            }
        });


    }
    $(document).ready(function () {
         var xray = @Html.Raw(Json.Serialize(Model.EffectedGeneFitness));
            console.log(xray);
            if (xray != null) {
                $.each(xray, function (i, e) {
                    console.log(xray);
     $("#something option[value='" + e.geneID + "']").prop("selected", true);
            });
            }
        $("select").prop('class', 'selectpicker show-tick form-control');
        $("select").attr('data-live-search', true);
    });
     var xray = @Html.Raw(Json.Serialize(Model.EffectedGeneFitness));
    if (xray != null) {
        debugger
         //$('#something').selectpicker('refresh');
        }
    //$('select').selectpicker('show');
    //$('.selectpicker').selectpicker('render');
    //$('.select').selectpicker('show');
    //$('select').selectpicker();
    //$('#something').multiselect()



</script>
<style>
    .chosen-container {
        width: 100% !important;
    }
</style>


