@model Data.Models.Bed
@using Data.Models
@{
    ViewData["Title"] = "Add Bed";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<style>
    .border-left {
        border-left: 1px solid black;
    }

    .mg-t {
        margin-top: 10PX;
    }
</style>

@using (Html.BeginForm("Add", "Areas/Admin/Bed/", FormMethod.Post))
{
<div class="prtm-content">
    <div class="prtm-page-bar">
        <ul class="breadcrumb">
            <li class="breadcrumb-item text-capitalize"><h2>@ViewData["Title"]</h2></li>
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="#">Ui elements</a></li>
            <li class="breadcrumb-item"><a href="#" class="active"> New Patient</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-lg-4">
        <input type="submit" name="submit" value="Save" class="btn btn-xs btn-primary" />
        <input type="button" name="submit" value="Update" class="btn btn-xs btn-warning" />
        <a href="/admin/bed/index" class="btn btn-xs btn-info">Back</a>
    </div>
    <div class="form-style">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="prtm-block pos-relative">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="ID">ID</label>
                                        @Html.TextBoxFor(m => m.ID, "{0:##}", new { @Class = "form-control", @Disabled = "true" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="Name">BedName</label>
                                        @Html.TextBoxFor(m => m.Name, null, new { @Class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="BedNumber">BedNumber</label>
                                        @Html.TextBoxFor(m => m.BedNumber, null, new { @Class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="Department">Department</label>
                                        @Html.DropDownListFor(m => m.DepartmentID, new SelectList(ViewBag.Department, "ID", "Name"), "Department Name", new { @class = "form-control dropdown" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="BuildingID">Building</label>
                                        @Html.DropDownListFor(m => m.BuildingID, new SelectList(ViewBag.Building, "ID", "Name"), new { @class = "form-control dropdown searchDropDown" })
                                    </div>
                                </div>


                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="FloorID">Floor</label>
                                        @Html.DropDownListFor(m => m.FloorID, new SelectList(string.Empty, "ID", "Name"), new { @class = "form-control dropdown searchDropDown" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="Room">Room</label>
                                        @Html.DropDownListFor(m => m.RoomID, new SelectList(string.Empty, "ID", "Name"), new { @class = "form-control dropdown searchDropDown" })
                                    </div>
                                </div>

                            </div>

                            <div class="row mrgn-b-sm">
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-check">
                                        <label>
                                            <input type="checkbox" name="IsActive" id="IsActive" checked><span class="label-text">Is Active</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <div class="form-check">
                                            <label>
                                                <input type="checkbox" name="Isolated" id="Isolated"> <span class="label-text">Isolated?</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}

@section scripts{
    <script>
    $(document).ready(function () {
            var items = "<option value='0'>Select</option>";
            $('#FloorID').html(items);
            $('#RoomID').html(items);
        });
    $(document).ready(function () {
            $('#BuildingID').change(function () {
                var url = '@Url.Content("~/")' + "Admin/Bed/GetFloor";
                var ddlsource = "#BuildingID";
                console.log($(ddlsource).children("option:selected").val());
                $.getJSON(url, { BuildingID: $(ddlsource).children("option:selected").val() }, function (data) {
                    var items = '';
                    $('#FloorID').empty();
                    $.each(data, function (i, floor) {
                        items += "<option value='" + floor.value + "'>" + floor.text + "</option>";
                    });
                    $('#FloorID').html(items);
                })
            });
        });

        $(document).ready(function () {
            $('#FloorID').change(function () {
                var url = '@Url.Content("~/")' + "Admin/Bed/GetRoom";
                var ddlsource = "#FloorID";
                console.log($(ddlsource).children("option:selected").val());
                debugger
                $.getJSON(url, { FloorID: $(ddlsource).children("option:selected").val() }, function (data) {
                    var items = '';
                    $('#RoomID').empty();
                    $.each(data, function (i, room) {
                        items += "<option value='" + room.value + "'>" + room.text + "</option>";
                    });
                    $('#RoomID').html(items);
                });
            });
        });
    </script>
}