
@model GeneticSystem.Areas.Admin.Models.AddOrderViewModel
@{
    ViewData["Title"] = "Update Order";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="prtm-content">
    <div class="form-style">
        <form id="encounterForm">
            <fieldset id="form-fieldset">
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="prtm-block pos-relative">
                                <div class="prtm-page-bar">
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item text-capitalize"><h2>@ViewData["Title"]</h2></li>
                                        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#">Ui elements</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="active">Update Order</a></li>
                                    </ul>
                                </div>


                                <div class="tab-content pad-all-sm">

                                    <div id="tab-26" class=" row tab-pane fade in ">
                                        hghgcgh
                                    </div>
                                    <div id="tab-27" class="tab-pane fade in active">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Order No.</label>
                                                            @Html.TextBoxFor(m => m.OrderNo, null, new { @Class = "form-control", @readonly = true })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Patient Name</label>
                                                            @Html.DropDownListFor(x => x.PatientID, new SelectList(ViewBag.Patients, "ID", "ArFirstName"), "Select", new { @Class = "form-control dropdown", @onchange = "test();", @disabled = true })
                                                        </div>
                                                        @Html.HiddenFor(x => x.ID)
                                                        <input id="OrderIDHidden" value="@Model.ID"  hidden/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Order Date</label>
                                                            @Html.TextBoxFor(m => m.OrderDate, null, new { @Class = "form-control datepicker", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Regn No</label>
                                                            @Html.TextBoxFor(m => m.User.RegisterationNo, null, new { @Class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Due Date</label>
                                                            @Html.TextBoxFor(m => m.DueDate, null, new { @Class = "form-control datepicker", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label>Test Type</label>
                                                            @Html.DropDownListFor(m => m.GeneTemplateID, new List<SelectListItem>
                                                            {
                                                                new SelectListItem{ Text="Select Templates", Value = "0" },
                                                                new SelectListItem{ Text="General Template", Value = "1" },
                                                                new SelectListItem{ Text="Epilepsy Template", Value = "2" },
                                                                new SelectListItem{ Text="Fat Consumption Template", Value = "3" },
                                                                new SelectListItem{ Text="Methyation And Autism Template", Value = "4" },
                                                                new SelectListItem{ Text="ProState And Cancer Template", Value = "5" },
                                                            },
                                                            new { @class = "form-control dropdown", @onchange = "GetTemplate();" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group"><br />
                                                            <div class="form-check"><label><input type="checkbox" id="preFillDataID" name="preFillData" onclick="getPreFill()" checked><span class="label-text"></span>Pre-Fill Data</label></div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <input type="button" name="button" value="Save" onclick="saveOrderFunction();" class="btn btn-xs btn-primary" id="signupform" />
                                                        <input type="button" name="submit" value="Update" class="btn btn-xs btn-warning" disabled />
                                                        <input type="button" name="submit" value="History" class="btn btn-xs btn-info" disabled />
                                                    </div>
                                                </div>

                                                <br />
                                                <div class="col-md-12" id="setTemplate">

                                                    @if (Model.GeneTemplateID == 1)
                                                    {
                                                        @Html.Partial("UpdateGeneralOrder", Model.PatientOrderGeneralList)
                                                    }
                                                    else if (Model.GeneTemplateID == 2)
                                                    {
                                                        @Html.Partial("UpdateEpilepsyOrder", Model.PatientOrderEpilepsyList)

                                                    }
                                                    else if (Model.GeneTemplateID == 3)
                                                    {
                                                        @Html.Partial("UpdateFatConsumptionOrder", Model.PatientOrderFatConsumptionList)
                                                    }
                                                    else if (Model.GeneTemplateID == 4)
                                                    {
                                                        //@Html.Partial("UpdateMethyationOrder", Model.PatientOrderMethyationList)
                                                          @Html.Partial("UpdateMethylationOrder", Model.PatientOrderMethyationList)
                                                    }
                                                    else if (Model.GeneTemplateID == 5)
                                                    {
                                                        @Html.Partial("UpdateProstateOrder", Model.PatientOrderProstateList)
                                                    }
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <h4 id="summary-Name">Summary</h4>
                                                            @Html.TextAreaFor(m => m.Summary, new { @Class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <h4>Follow Up Needed</h4>
                                                            @Html.TextAreaFor(m => m.FollowUpNeeded, new { @Class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <div class="form-group">
                                                            <h4>Assign Doctor</h4>
                                                            @Html.DropDownListFor(x => x.DoctorID, new SelectList(ViewBag.Doctors, "ID", "ArFirstName"), "Select", new { @Class = "form-control dropdown", @onchange = "test();", @disabled = true })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="profile-box-r">
                                                    <div class="row mrgn-all-xs">
                                                        <div class="col-md-12">
                                                            <div class="pro-pic">

                                                                <img src="/assets/img/user-1.jpg" alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                            <div class="form-group">
                                                                <label>
                                                                    Birthdate
                                                                </label>
                                                                @Html.TextBoxFor(m => m.User.PatientPersonalInformation.DateOfBirth, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                            <div class="form-group">
                                                                <label>ID No</label>
                                                                @Html.TextBoxFor(m => m.User.ID, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                            <div class="form-group">
                                                                <label>City</label>
                                                                @Html.TextBoxFor(m => m.User.PatientPersonalInformation.City.Name, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Address</label>
                                                                @Html.TextBoxFor(m => m.User.Address, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Mobile</label>
                                                                @Html.TextBoxFor(m => m.User.Mobile, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                            <div class="form-group">
                                                                <label>Blood GR</label>
                                                                @Html.TextBoxFor(m => m.User.PatientPersonalInformation.BloodGroup.Name, new { @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </fieldset>
        </form>

    </div>
</div>

@section scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.js" integrity="sha256-TDtzz+WOGufaQuQzqpEnnxdJQW5xrU+pzjznwBtaWs4=" crossorigin="anonymous"></script>
    <script>
        function loadChosen() {
            $('.tryMultiselect').chosen();
        }

        $(document).ready(function () {
            loadChosen();
        });

        $('.datepicker').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
        }).on('changeDate', function (ev) {
            $(this).datepicker('hide');

        }).keydown(function (event) {
            if (event.which == 9)
                $(this).datepicker("hide");

        }).mousedown(function () {
            $(this).datepicker('hide');
        });

        var objfill;
        function saveOrderFunction() {
            var formdata = new FormData($('form').get(0));
            formdata.append("GeneTemplateId", $("#TestType").val());
            for (var pair of formdata.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }

            $.ajax({
                type: 'POST',
                url: "/admin/patientorder/UpdatePatientOrders",
                data: formdata,
                dataType: "json",
                processData: false,
                contentType: false,
                success: function (response) {
                    console.log(response);
                    toastr.info('Record saved');
                },
                error: function (xhr, status) {
                    toastr.error('Something went wrong');
                }
            });
        }

        function Uncheck(data) {
            var test = $(data).attr("data-info");
            if ($(data).prop("checked")) {
                document.getElementById(test).removeAttribute('readonly');
            }
            else {
                document.getElementById(test).setAttribute('readonly', true);
            }
        }
        function enabletextbox(data) {
            var test = $(data).attr("data-info");
            var test1 = $(data).attr("datainfo1");
            if ($(data).prop("checked")) {
                document.getElementById(test).removeAttribute('readonly');
                document.getElementById(test1).removeAttribute('readonly');
            }
            else {
                document.getElementById(test).setAttribute('readonly', true);
                document.getElementById(test1).setAttribute('readonly', true);
            }

        }
        function showdetail() {
            $("#detail-div").toggle();
        }



        function GetTemplate() {
            var testtype = $("#GeneTemplateID").val();
            debugger
            $.ajax({
                url: '/admin/patientorder/GetTemplateDetails',
                type: 'get',
                data: {
                    type: testtype
                },
                success: function (result) {
                    debugger
                    console.log(result);
                    var i;
                    var html = '';
                           if (testtype == 1) {
                        $("#summary-Name").html("General Summary");
                        var data = result.epilepsylist;
                        var options = "Select Gene";
                               $("#setTemplate").html(result);
                               //(function($) { $(".tryMultiselect").chosen(); })(jQuery);
                                 $('.tryMultiselect').chosen();
                               debugger
                       @*var xray = @Html.Raw(Json.Serialize(Model.EffectedGeneMetabolism));
                       console.log(xray);
                       if (xray != null) {
                $.each(xray, function (i, e) {
                    console.log(xray);
     $("#something option[value='" + e.geneID + "']").prop("selected", true);
            });
            }*@
        //$("select").prop('class', 'selectpicker show-tick form-control');
        //$("select").attr('data-live-search', true);
                               $("#setTemplate").html(result);
                             }

                           else if (testtype == 2) {
                               $("#summary-Name").html("Epilepsy Summary");
                               var data = result.epilepsylist;
                               var options = "Select Gene";
                               //  $(result.gene).each(function (index, value) {

                               //            options += '<option value="' + value.id + '">' + value.name + '</option>';


                               //    });
                               //for (i = 0; i < data.length; ++i) {

                               //    var test = "";
                               //     if (data[i].haveMutation == true) {
                               //            test += "checked";
                               //        }
                               //        html += '<tr>' + '<td><select name="PatientOrderEpilepsyList[' + i + '].GeneID" class="form-control dropdown">' + options + '</select></td><td><div class="form-check"><label><input type="checkbox" class="checkbox" value="' + data[i].haveMutation + '" name="PatientOrderEpilepsyList[' + i + '].HaveMutation" id="PatientOrderEpilepsyList[' + i + '].Havemutation"'+ test +'><span class="label-text"></span></label></div></td><td><input type="text" class="form-control" value="' + data[i].geneticMutation + '" name="PatientOrderEpilepsyList[' + i + '].GeneticMutation" id="PatientOrderEpilepsyList[' + i + '].GeneticMutation"></td><td><input type="text" class="form-control" value="' + data[i].personalRiskFactor + '" name="PatientOrderEpilepsyList[' + i + '].PersonalRiskFactor" id="PatientOrderEpilepsyList[' + i + '].PersonalRiskFactor"></td><td><input type="text" class="form-control" value="' + data[i].hereditary + '" name="PatientOrderEpilepsyList[' + i + '].Hereditary" id="PatientOrderEpilepsyList[' + i + '].Hereditary"></td><td><input type="text" class="form-control" value="' + data[i].recommendations + '" name="PatientOrderEpilepsyList[' + i + '].Recommendations" id="PatientOrderEpilepsyList[' + i + '].Recommendations"></td>' + '</tr>'

                               //}

                               //$("#setTemplate").html('<div class="panel-group panel-2" id="bs-collapse"> <div class="panel"> <div class="panel-heading"> <h4 class="panel-title"> <a data-toggle="collapse" data-info="Department" href="#one">Epilepsy</a> </h4> </div> <div id="one" class="panel-collapse collapse"> <div class="panel-body"> <div class="row"> <div class="col-md-12"> <table class="table table-striped table-hover table-bordered"> <thead> <tr class=""> <th>Gene</th> <th>Have Mutation</th> <th class="numeric">Genetic Mutation</th> <th>Personal Risk Factor</th> <th>Herdiatery</th> <th class="numeric">Recommendations</th>  </tr> </thead> <tbody>' + html + '</tbody> </table> </div> </div> </div> </div> <!-- end of panel --> </div> </div>');

                               $("#setTemplate").html(result);


                           }
                    else if (testtype == 3) {
                          $("#summary-Name").html("Fat Consumption Summary");
                        var data = result.fatconsumptionlist;
                        var consumptionoption = "Select Consumption Type";
                        $("#setTemplate").html(result);
                    }
                    else if (testtype == 4) {
                        //create your "title" option
                        $("#summary-Name").html("Methyation Summary");
                        var data = result.methyationlist;
                        var options = "Select Gene";
                        // $(result.gene).each(function (index, value) {
                        //        //loop through your elements
                        //         //check the company

                        //                options += '<option value="' + value.id + '">' + value.name + '</option>';

                        //     //add the option element as a string
                        //     });
                        //for (i = 0; i < data.length; ++i) {

                        //   var  resoption='<option value="">Select Result</option>';
                        //    if (data[i].result == 1) {
                        //        resoption += '<option value="1" selected>High</option><option value="2" >Medium</option><option value="3">Low</option>';
                        //    }
                        //   else if (data[i].result == 2) {
                        //       resoption += '<option value="1" >High</option><option value="2" selected>Medium</option><option value="3">Low</option>';                           }
                        //    else if (data[i].result == 3) {
                        //       resoption += '<option value="1" >High</option><option value="2" >Medium</option><option value="3" selected>Low</option>';
                        //    }
                        //    var test = "";
                        //    if (data[i].haveMutation == true) {
                        //        test += "checked";
                        //    }
                        //    html += '<tr>' + '<td><select name="PatientOrderMethyationList[' + i + '].GeneID" Id="PatientOrderMethyationList[' + i + '].GeneID" class="form-control dropdown">' + options + '<select></td><td><div class="form-check"><label><input type="checkbox" class="checkbox" value="' + data[i].haveMutation + '" name="PatientOrderMethyationList[' + i + '].HaveMutation" id="PatientOrderMethyationList[' + i + '].HaveMutation"' +test+'><span class="label-text"></span></label></div></td><td><select id="PatientOrderMethyationList[' + i + '].Result"  name="PatientOrderMethyationList[' + i + '].Result" class="form-control dropdown">' + resoption + '</select></td><td><input type="text" class="form-control" value="' + data[i].resultSummary + '" name="PatientOrderMethyationList[' + i + '].ResultSummary" id="PatientOrderMethyationList[' + i + '].ResultSummary"></td><td><input type="text" class="form-control" value="' + data[i].recommendations + '" name="PatientOrderMethyationList[' + i + '].Recomendations" id="PatientOrderMethyationList[' + i + '].Reccomendations"></td>' + '</tr>'

                        //}
                               $("#setTemplate").html(result);


                    }
                    else if (testtype == 5) {
                        $("#summary-Name").html("Prostate Summary");
                        var data = result.prostatelist;
                          var options = "Select Gene";
                        //  $(result.gene).each(function (index, value) { //loop through your elements
                        //        //check the company
                        //      //   var options = '<option value=""> Select Gene</option>';

                        //            options += '<option value="' + value.id + '">' + value.name + '</option>';


                        //    });
                        //for (i = 0; i < data.length; ++i) {

                        //    var test = "";
                        //     if (data[i].haveMutation == true) {
                        //            test += "checked";
                        //        }
                        //        html += '<tr>' + '<td><select name="PatientOrderProstateList[' + i + '].GeneID" id="PatientOrderProstateList[' + i + '].GeneID" class="form-control dropdown">' + options + '</select></td><td><div class="form-check"><label><input type="checkbox" class="checkbox" value="' + data[i].haveMutation + '" name="PatientOrderProstateList[' + i + '].HaveMutation" id="PatientOrderProstateList[' + i + '].Havemutation"'+ test +'><span class="label-text"></span></label></div></td><td><input type="text" class="form-control" value="' + data[i].geneticMutation + '" name="PatientOrderProstateList[' + i + '].GeneticMutation" id="PatientOrderProstateList[' + i + '].GeneticMutation"></td><td><input type="text" class="form-control" value="' + data[i].personalRiskFactor + '" name="PatientOrderProstateList[' + i + '].PersonalRiskFactor" id="PatientOrderProstateList[' + i + '].PersonalRiskFactor"></td><td><input type="text" class="form-control" value="' + data[i].hereditary + '" name="PatientOrderProstateList[' + i + '].Hereditary" id="PatientOrderProstateList[' + i + '].Hereditary"></td><td><input type="text" class="form-control" value="' + data[i].recommendations + '" name="PatientOrderProstateList[' + i + '].Recommendations" id="PatientOrderProstateList[' + i + '].Recommendations"></td>' + '</tr>'

                        //}
                               $("#setTemplate").html(result);
                    }

   // do some more stuff with obj[key]

                }
            });

        }

        function getPreFill() {
            var testtype = $("#GeneTemplateID").val();
            var getThis = $('input:checkbox[name=preFillData]').is(':checked');

            getThis == false
            {
                document.getElementById("encounterForm").reset();
                debugger
                $("#encounterForm").trigger("reset");
                debugger
                $("col-md-3").children().val("");
                debugger
                $("col-md-3").each(function () {
                    $("input:text").val("")
                })
                debugger
                //$("input:text").val("");

                //$('table table-hover table-bordered table-striped[type=text]').each(function () {
                //    $(this).val('');


                //};
            }
        }
    </script>
}



