@model HISSystem.Models.ChangePassword

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row mrgn-b-sm">
            <div class="col-md-6">
                <label>Email: &nbsp; @Model.Email</label>
            </div>
            <div class="col-md-6">
                <label>UserName:&nbsp; @Model.UserName</label>
            </div>
        </div>
        <div class="row mrgn-b-sm">
            <div class="col-md-12">
                    <label>Current Password</label>
                    @*@Html.TextBox(m => m.CurrentPassword, null, new { @Class = "form-control" })*@
                <input type="text" name="CurrentPassword" id="CurrentPassword" class="form-control" />
                <span id="pass" style="color:red;"></span>
            </div>
        </div>

        <div class="row mrgn-b-sm">
            <div class="col-md-12 mrgn-b-sm">
                @Html.HiddenFor(m => m.ID)
                    <label>New Password</label>
                    @Html.TextBoxFor(m => m.NewPassword, null, new { @Class = "form-control" })
            </div>
            <div class="col-md-12">
                    <label>Confirm Password</label>
                    @Html.TextBoxFor(m => m.ConfirmPassword, null, new { @Class = "form-control" })
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="savechangepassword();">Save changes</button>
    </div>
