@model HISSystem.Areas.Admin.Models.LookupIndexModel
    <div class="prtm-content">
            <div class="row">
                <div class="col-md-7 text-left search-block">
                    <div class="input-group pull-right" id="adv-search">
                        <input type="text" data-info="@ViewBag.LookupName" name="detailSearch" id="detailsearch" class="form-control detailsearch" placeholder="Search Lookup..." />
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <button type="button" class="btn btn-xs btn-outline-warning add-btn addLookup sbmtBtn" data-info="@ViewBag.LookupName">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        &nbsp;Add LookupType
                    </button>
                    <h3 id="lName"></h3>
                </div>
            </div>
        <div class="row mrgn-b-xs">
            <div class="prtm-block mrgn-b-md">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xs-12">
                        <div class="prtm-full-block">
                            <div class="table-responsive">
                                <table id="lookupDetailList" class="table table-striped table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="numeric">Lookup Type</th>
                                            <th class="numeric">Lookup Name</th>
                                            <th class="numeric">Lookup TypeID</th>
                                            <th class="numeric">IsActive?</th>
                                            <th class="numeric" colspan="2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PagedLookups.Data)
                                        {
                                            <tr>
                                                <td>@item.Type</td>
                                                <td>@item.Name</td>
                                                <td>@item.TypeID</td>
                                                <td>@item.IsActive</td>
                                                <td>@Html.ActionLink("", "Delete", "Lookup", new { lookupID = @item.ID }, new { @Class = "fa fa-trash mrgn-l-xs fa-2x" })</td>
                                                <td id="@item.ID" class="editLookup"><i style="cursor:pointer" class="fa fa-edit fa-2x"></i></td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="6" value="@ViewBag.LookupName" id="@ViewBag.LookupName">
                                                @for (int i = 1; i <= Model.PagedLookups.NumberOfPages; i++)
                                                {
                                                    <a class="page-number" href="javascript:void(0);">@i</a>
                                                }
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
        </div>
    </div>


