@model GeneticSystem.Areas.Admin.Models.TestTempVM

<form action="/admin/testtemp/addmaster" method="post" id="addMasterLookUp">
    <div class="prtm-content">
        <div class="row mrgn-b-sm">
            <div class="col-md-4 col-lg-4">
                <input type="button" name="submit" id="postUpdtTempBtn" onclick="updateTemplateCol();" value="Save" class="btn btn-xs btn-primary" />
                <input type="button" id="closeModal" name="submit" value="Back" class="btn btn-xs btn-warning" />
            </div>
            <div class="col-md-8 col-lg-8 text-right">
                <span class="info-box">
                    <i class="fa fa-info-circle text-warning" aria-hidden="true"></i> To ADD Template Type >> Go To <a href="#">Lookup</a>
                </span>
            </div>
            <div class="col-md-4 col-lg-4">
            </div>
        </div>
        <div class="form-style">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="prtm-block pos-relative">
                        <div class="row">
                            <div class="col-md-12 col-lg-12 mrgn-b-sm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Type">Template Type</label>
                                            @Html.DropDownListFor(m => m.TestTemp.TestTempTypeID, new SelectList(ViewBag.TemplateType, "ID", "Name"), new { @Class = "form-control dropdown" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="TypeID">SubTemplate Type</label>
                                            @Html.DropDownListFor(m => m.TestTemp.SubTestTempTypeID, new SelectList(ViewBag.SubTemplateType, "ID", "Name"), new { @Class = "form-control dropdown" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12">
                                <div id="NearbyFormWrapper">
                                    <input type="hidden" id="hdnTmpId" value="@Model.TestTemp.ID" />
                                    <table class="table table-hover table-bordered table-striped" id="relative-table">
                                        <thead>
                                            <tr class="">
                                                <th>Column Type</th>
                                                <th>Column Name</th>
                                                <th>Source</th>
                                                <th class="numeric text-right"><a href="javascript:void(0)" onclick="AddField()"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            @if (Model.TestTemp.TestTempCols.Count() <= 0)
                                            {
                                                <tr id="formRow1">
                                                    <td style="display:none;">
                                                        <input id="TestTemplateColumns[0].ID" value="0" hidden />
                                                    </td>
                                                    <td>
                                                        @Html.DropDownList("TestTemplateColumns[0].ColumnType", new SelectList(ViewBag.TemplateField, "Value", "Text"), "--Select Column--", new { @class = "form-control dropdown ColTypDrp" })
                                                    </td>
                                                    <td> @Html.TextBox("TestTemplateColumns[0].DisplayName", null, new { @class = "form-control", autocomplete = "true" })</td>
                                                    <td>
                                                        @Html.DropDownList("TestTemplateColumns[0].ColumnName", new SelectList(ViewBag.DropDownType, "ID", "Name"), "--Select Data Source--", new { @class = "form-control dropdown drptype", @style = "display:none;" })
                                                    </td>
                                                    <td class="text-right">
                                                        <a href="javascript:void(0)"><i class="fa fa-trash" aria-hidden="true" onclick="RemoveField(this)"></i></a>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                @foreach (var item in Model.TestTemp.TestTempCols.Select((value, i) => new { i, value }))
                                                {
                                                    <tr id="formRow1">
                                                        <td style="display:none;">
                                                            <input id="TestTemplateColumns[0].ID" value="@item.value.ID" hidden />
                                                        </td>
                                                        <td>
                                                            @Html.DropDownList("TestTemplateColumns[0].ColumnType", new SelectList(ViewBag.TemplateField, "Value", "Text", item.value.TempColTypeID), "--Select Column--", new { @class = "form-control dropdown ColTypDrp", @disabled = true })
                                                        </td>
                                                        <td> @Html.TextBox("TestTemplateColumns[0].DisplayName", item.value.TestColName, new { @class = "form-control", autocomplete = "true" })</td>
                                                        <td>
                                                                @Html.DropDownList("TestTemplateColumns[0].ColumnName", new SelectList(ViewBag.DropDownType, "ID", "Name", item.value.DataSourceID), "--Select Data Source--", new { @class = "form-control dropdown drptype", @disabled = true, @style = "display:none;" })
                                                        </td>
                                                        <td class="text-right">
                                                            <a href="javascript:void(0)"><i class="fa fa-trash" aria-hidden="true" onclick="RemoveField(this)"></i></a>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>




