@model GeneticSystem.Areas.Admin.Models.AddTestDynamicTemplate

<form action="/admin/lookup/addmaster" method="post" id="updateMasterLookUp">
    <div class="prtm-content">
        <div class="row mrgn-b-sm">
            <div class="col-md-4 col-lg-4">
                <input type="button" id="updateTmpBtn" value="Save" onclick="updateTemplateCol();" class="btn btn-primary" />
                <input type="button" id="closeModal" name="submit" value="Back" class="btn btn-warning backToTemplate" />
            </div>
            <div class="col-md-8 col-lg-8">
                <div class="alert info">
                    <span class="closebtn">×</span>
                    <strong>To ADD Template Type >> Go To Lookup</strong> .
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
            </div>
        </div>
        <div class="form-style">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="prtm-block pos-relative">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Type">Template Type</label>
                                            @Html.DropDownListFor(m => m.TestTemplate.TestTemplateType, new SelectList(ViewBag.TemplateType, "ID", "Name"), new { @Class = "form-control dropdown" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="TypeID">SubTemplate Type</label>
                                            @Html.DropDownListFor(m => m.TestTemplate.SubTestTemplateTypeID, new SelectList(ViewBag.SubTemplateType, "ID", "Name"), new { @Class = "form-control dropdown" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;&nbsp;

                        <div id="NearbyFormWrapper">
                            <table class="table table-hover table-bordered table-striped" id="relative-table">
                                <thead>
                                    <tr class="">
                                        <th>Column Name</th>
                                        <th>Display Name</th>
                                        <th class="numeric"><a href="javascript:void(0)" onclick="AddField()"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="hidden" value="@ViewBag.TemplateID" id="UpdtTemplateID" name="TemplateColumns_TemplateID" />
                                            <input type="hidden" value="@ViewBag.TemplateID" id="Template_ID" name="TemplateColumns_TemplateID" />
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    @if (Model.TestTemplate.TestTemplateColumns.Count() <= 0)
                                    {
                                        <tr id="formRow1">
                                            <td>
                                                @Html.DropDownList("TestTemplateColumns[0].ColumnName", new SelectList(ViewBag.TemplateField, "ID", "Name"), "--Select Column--", new { @class = "form-control dropdown" })
                                            </td>
                                            <td> @Html.TextBox("TestTemplateColumns[0].DisplayName", null, new { @class = "form-control", autocomplete = "true" })</td>
                                            <td class="text-right">
                                                <a href="javascript:void(0)"><i class="fa fa-trash" aria-hidden="true" onclick="RemoveField(this)"></i></a>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model.TestTemplate.TestTemplateColumns.Select((value, i) => new { i, value }))
                                        {
                                            <tr id="formRow1">
                                                <td>
                                                    @Html.DropDownList("TestTemplateColumns[" + item.i + "].ColumnName", new SelectList(ViewBag.TemplateField, "ID", "Name", item?.value?.TestTemplateFieldID), "--Select Column--", new { @class = "form-control dropdown" })
                                                </td>
                                                <td> @Html.TextBox("TestTemplateColumns[" + item.i + "].DisplayName", item?.value?.DisplayName, new { @class = "form-control" })</td>
                                                <td>
                                                    <a href="javascript:void(0)"><i class="fa fa-trash" aria-hidden="true" onclick="RemoveField(this)"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

